@import 'styles/theme';

.header {
  @include content-header(72px);
}

.background {
  background-image: url('../../static/falcon.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  z-index: -200;
}
