@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.header {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  font-size: 80px;
}

.content-container {
  display: flex;
  justify-content: space-around;
}
