@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700');

@mixin content-header($font-size) {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  font-size: $font-size
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.end-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.base-header {
  @include content-header(1.5em);
}

.text {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}
